[submodule "rione_msgs"]
	path = rione_msgs
	url = https://github.com/rionehome/rione_msgs
[submodule "follow_me"]
	path = follow_me
	url = https://github.com/rionehome/follow_me
[submodule "turtlebot_bringup"]
	path = turtlebot_bringup
	url = https://github.com/ItoMasaki/turtlebot_bringup
[submodule "ydlidar_ros2"]
	path = ydlidar_ros2
	url = https://github.com/ItoMasaki/ydlidar_ros2
[submodule "location_register"]
	path = location_register
	url = https://github.com/rionehome/location_register
[submodule "turn_robot"]
	path = turn_robot
	url = https://github.com/ItoMasaki/turn_robot
